{% extends "base.html" %}

{% block title %}
    Регистрация
{% endblock %}

{% block content_title %}
    Регистрация
{% endblock %}

{% block content %}
    <div class="col-md-3">
        <form action="" method="post" novalidate>
            <div class="form-group">
                {{ form.hidden_tag() }}
                <p>
                    <h4>{{ form.username.label() }}</h4>
                    {{ form.username(class='form-control') }}
                    {% for error in form.username.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <p>
                    <h4>{{ form.password.label() }}</h4>
                    {{ form.password(class='form-control') }}
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </p>
                <button type="sumbit" class="btn btn-success">Register</button>
            </div>
        </form>
    </div>
{% endblock %}